<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.cordovaprogramming.carrier" version="1.0.0">
    <name>RKNoisePlugin</name>
    <author>Roman Kuepper</author>
    <description>Noiseeee</description>
    <keywords>Noise</keywords>
    <license>Apache 2.0 License</license>
    <engines>
            <engine name="cordova" version="3.8.0" />
    </engines>
        <js-module src="noise.js" name="noise">
            <clobbers target="carrier" />
        </js-module>
        
        <platform name="ios">
                <!-- ios-specific elements -->
                <header-file src="src/ios/NoisePlugin.h" />
                <source-file src="src/ios/NoisePlugin.m" />
                <config-file target="config.xml" parent="/*">
                    <feature name="NoisePlugin" >
                        <param name="ios-package" value="NoisePlugin"/>
                    </feature>
                </config-file>
        </platform>
</plugin>